<%= form_for menu_page, url: (menu_page.new_record? ? menu_index_path : menu_path), remote: true do |mp| %>
	<div class='container'>
		<div class='row'>
			<div class='span12'>
				<div class='controls controls-row'>
					<div class='controls'>
						<%= mp.submit 'Save Menu Page' %>
					</div>
				</div>
				<div class='controls controls-row'>
					<div class='controls'>
						&nbsp;
					</div>
				</div>
				<div class='controls controls-row'>
					<%= mp.label :tab, 'Tab Label', class: 'span2' %>
					<%= mp.label :tab, 'Title', class: 'span2' %>
					<%= mp.label :tab, 'Info', class: 'span2' %>
				</div>
				<div class='controls controls-row'>
					<%= mp.text_field :tab, class: 'span2' %>
					<%= mp.text_field :title, class: 'span2' %>
					<%= mp.text_field :info, class: 'span4'  %>
				</div>

				<%= render partial: 'menu_column', locals: { mp: mp } %>
				<%= add_menu_column_button mp %>
				<div class='controls controls-row'>
					<div class='controls'>
						&nbsp;
					</div>
				</div>
				<div class='controls controls-row'>
					<div class='controls'>
						<%= mp.submit 'Save Menu Page' %>
						<%= mp.submit 'Save Menu Page' %>
					</div>
				</div>
			</div>
		</div>
	</div>
<% end %>
