<%= f.fields_for :menu_sections, MenuSection.new do |ms| %>
	<div class='menu-container-section'>
		<div class='controls controls-row'>
			<%= content_tag :div, '', class: 'button' %>
			<%= ms.label 'Section Title', class: 'span2' %>
			<%= ms.label 'Section Description', class: 'span2' %>
		</div>
		<div class='controls controls-row'>
			<%= ms.hidden_field :_destroy %>
			<%= link_to '#', class: 'button menu-delete-section' do %>
				<%= content_tag :i, '', class: 'icon-trash' %>
			<% end %>
			<%= ms.text_field :title, class: 'span2' %>
			<%= ms.text_field :info, class: 'span2' %>
		</div>

		<div class='controls controls-row'>
			<%= content_tag :div, '', class: 'button' %>
			<%= ms.label 'Menu Item', class: 'span2' %>
			<%= ms.label 'Menu Description', class: 'span2' %>
			<%= ms.label 'Price #1 Description', class: 'span2' %>
			<%= ms.label 'Price #1', class: 'span1' %>
			<%= ms.label ' ', class: 'button' %>
			<%= ms.label 'Price #2 Description', class: 'span2' %>
			<%= ms.label 'Price #2', class: 'span1' %>
			<%= ms.label ' ', class: 'button' %>
		</div>

		<%= ms.fields_for :menu_items do |mi| %>
			<div class='controls controls-row menu-container-item'>
				<%= mi.hidden_field :_destroy %>
				<%= link_to '#', class: 'button menu-delete-item' do %>
					<%= content_tag :i, '', class: 'icon-trash' %>
				<% end %>
				<%= mi.text_field :title, class: 'span2' %>
				<%= mi.text_field :info, class: 'span2' %>

				<% price_count = 0 %>
				<%= mi.fields_for :menu_prices do |mpr| %>
					<div class='menu-container-price'>
						<%= mpr.text_field :title, class: 'span2' %>
						<%= mpr.text_field :price, class: 'span1' %>
						<%= mpr.hidden_field :_destroy %>
						<%= link_to '#', class: 'button menu-delete-price' do %>
							<%= content_tag :i, '', class: 'icon-trash' %>
						<% end %>
					</div>
					<% price_count += 1 %>
				<% end %>

				<%= add_menu_price_button mi, price_count %>
			</div>
		<% end %>

		<%= add_menu_item_button ms %>
	</div>
<% end %>
