<% if user_signed_in? && current_user.admin? %>
	<%= link_to 'Edit', edit_menu_path(menu_page), remote: true %>
	<%= link_to 'Delete', menu_path(menu_page), confirm: 'Are you sure you want to delete this menu page?', method: :delete %>
<% end %>
<div class='container menu'>
	<div class='row'>
		<div class='span12 menu-title-container'>
			<p class='menu-title'><%= menu_page.title %></p>
			<% menu_page.infos.each do |info| %>
				<p class='menu-subtitle'><%= info %></p>
			<% end %>
		</div>
	</div>
	<div class='row'>
		<% menu_page.menu_columns.each do |menu_column| %>
			<div class='span<%= menu_column.span %>'>
				<% menu_column.menu_sections.each_with_index do |menu_section, menu_section_idx| %>
					<div class='row menu-line'>
						<div class='span<%= menu_section.span %> <%= (menu_section.title.empty? ? '' : 'menu-section-title') %>'>
							<p><%= menu_section.title %></p>
							<% if (menu_section_idx == 0) %>
								<p class='menu-info'><%= raw(menu_section.info_or_blank) %></p>
							<% else %>
								<p class='menu-info'><%= menu_section.info %></p>
							<% end %>
						</div>
						<% if (menu_section_idx == 0) %>
							<% (0..(menu_section.price_headers-1)).each do |i| %>
								<div class='span1 menu-section-title'>
									<p><%= menu_section.menu_items[0].menu_prices[i].title %></p>
									<p class='menu-info'><%= raw(menu_section.info_or_blank) %></p>
								</div>
							<% end %>
						<% end %>
					</div>
					<% menu_item_idx = 0 %>
					<div class='row menu-line'>
					<% menu_section.menu_items.each_with_index do |menu_item, menu_item_idx| %>
						<% if (menu_item_idx > 0) && (menu_item_idx % menu_column.cols) == 0 %>
							</div>
							<div class='row menu-line'>
						<% end %>
						<div class='span<%= menu_item.span %> menu-item'>
							<p><%= menu_item.title %></p>
							<p class='menu-info'><%= menu_item.info %></p>
						</div>
						<% if menu_section.price_headers > 0 %>
							<% menu_item.menu_prices.each do |menu_price| %>
								<div class='span1 menu-pricing'>
									<p><%= menu_price.price %></p>
								</div>
							<% end %>
						<% elsif !menu_item.menu_prices.empty? %>
							<% if menu_item.menu_prices.length() == 1 %>
								<div class='span1 menu-price'>
									<p><%= menu_item.menu_prices.first().price %></p>
								</div>
							<% else %>
								</div>
								<div class='row'>
									<div class='span<%= menu_item.span %> menu-item'>
										<% menu_item.menu_prices.each do |menu_price| %>
											<p class='menu-info'><%= menu_price.title %></p>
										<% end %>
									</div>	
									<div class='span1 menu-price'>
										<% menu_item.menu_prices.each do |menu_price| %>
											<p><%= menu_price.price %></p>
										<% end %>
									</div>	
							<% end %>
						<% end %>
					<% end %>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>