<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Katsu Sushi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/topnav' %>
  <%= yield %>
  <footer id="footer">
    <%= render 'layouts/footer' %>
  </footer>

</body>
</html>
